{% extends "main.html" %}

{% block page_name %}
About This Wiki
{% endblock %}

{% block content %}
<div>
<h3>About this Wiki</h3>
<title> About </title>
</div>
<hr>
<div>

<p> This wiki serves as a hub to all things video games! </p>

<h3>Your Authors</h3>

<p>Bethany Abebe </p>
<img src={{b_pic}} width="400" height="300">
<p>Gabriel Alonso Serrato</p>
<img src={{g_pic}} width="400" height="300">
<p>Rakshith Puligundla Venugopal</p>
<img src={{r_pic}} width="400" height="300">
</div>
{% endblock %}

