{% extends "main.html" %}

{% block page_name %}
About This Wiki
{% endblock %}

{% block content %}
<h3>About this Wiki</h3>
<title> About </title>
<!-- TODO(Project 1): Add info about the wiki. -->
<p> This wiki serves as a hub to all things video games! </p>

<h3>Your Authors</h3>
<!-- TODO(Project 1): Add team members and pictures to about page. -->
<p>Bethany Abebe </p>
<img src={{b_pic}} width="400" height="300">
<p>Gabriel Alonso Serrato</p>
<img src={{g_pic}} width="400" height="300">
<p>Rakshith Puligundla Venugopal</p>
<!-- {{r_pic}} --> 
{% endblock %}

