<!DOCTYPE html>
<html>
<head>
	<title>Avatar Selection Form</title>
    <style>
        /* Style for radio button labels */
        label {
        display: inline-block;
        margin: 10px;
        cursor: pointer;
        border: 3px solid transparent;
        }

        /* Style for the images */
        img {
        display: block;
        max-width: 100px;
        max-height: 100px;
        }
    </style>
</head>
<body>
	<form method='POST'>
		<div>
			<label>
				<input type="radio" id="avatar1" name="avatar1">
				<img src= {{Avatar1}}>
			</label>
			<label>
				<input type="radio" id="avatar2" name="avatar2">
				<img src={{Avatar2}}>
			</label>
			<label>
				<input type="radio" id="avatar3" name="avatar3">
				<img src={{Avatar3}}>
			</label>
			<label>
				<input type="radio" id="avatar4" name="avatar4">
				<img src={{Avatar4}}>
			</label>
			<label>
				<input type="radio" id="avatar5" name="avatar5">
				<img src={{Avatar5}}>
			</label>
		</div>
		<div>
			<label>
				<input type="radio" id="avatar6" name="avatar6">
				<img src={{Avatar6}}>
			</label>
			<label>
				<input type="radio" id="avatar7" name="avatar7">
				<img src={{Avatar7}}>
			</label>
			<label>
				<input type="radio" id="avatar8" name="avatar8">
				<img src={{Avatar8}}>
			</label>
			<label>
				<input type="radio" id="avatar9" name="avatar9">
				<img src={{Avatar9}}>
			</label>
			<label>
				<input type="radio" id="avatar10" name="avatar10">
				<img src={{Avatar10}}>
			</label>
		</div>
		<button type="submit">Select</button>
        <button type="cancel">Cancel</button>
	</form>
</body>
</html>