<!DOCTYPE html>
<html>

<head>
    <title>Cool Team</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    {% if session.username %}
        <nav>
            <a href="/">Home</a>
            <a href="/pages">Pages</a>
            <a href="/about">About</a>
            <a>| {{ session.username }} |</a>
            <a href="/upload">Upload</a>
            <a href="/logout">Logout</a>
            <a href="/tinyedit">Editor</a>
        </nav>
    {% else %}
        <nav>
            <a href="/">Home</a>
            <a href="/pages">Pages</a>
            <a href="/about">About</a>
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        </nav>
    {% endif %}

    {% block content %}
        <div>       
            <br>
            <h1>Welcome to our video game wiki!</h1>
        </div>
    {% endblock %}
</body>

</html>

