<!DOCTYPE html>
<html>
<head>
    <head>
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        <title>Cool Team</title>
        <a href="/">Home</a>
        <a href="/pages">Pages</a>
        <a href="/about">About</a>
        <a href="/upload">Upload</a>
        <a href="/signin.html">Sign in</a>
        <a href="/signup.html">Sign up</a>


    </head>
</head>
{% block content %}
<body>
    <!-- TODO(Project 1): Implement routes. -->
    <div>       
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        We are the cool team! Welcome to our video game wiki!
    </div>
</body>
{% endblock %}


</html>