<!DOCTYPE html>
<html>
<head>
    <head>
        <title>Cool Team</title>
        {% if session.username %}
            <a href="/">Home</a>
            <a href="/pages">Pages</a>
            <a href="/about">About</a>
            <a> | {{session.username}} |</a>
            <a href="/upload">Upload</a>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/">Home</a>
            <a href="/pages">Pages</a>
            <a href="/about">About</a>
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        {% endif %}
    </head>
</head>
{% block content %}
<body>
    <div>       
        <br>
        Welcome to our video game wiki!
    </div>
    <img src={{games}} width="800" height="600">
</body>
{% endblock %}


</html>