{% extends 'main.html' %}

{% block content %}
    <div>
        {% if pages %}
            <h1>Pages Contained in this Wiki</h1>
        {% endif %}
        {% if content %}
        <h1>{{ page_title }}</h1>
        {{ content|safe }}
        {% endif %}
    </div>
    <div>
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <a href="/pages/{{ page }}">{{ page }}</a>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}