{% extends 'main.html' %}
<style>
    body{

        background-image: url("{{games}}");
        background-size: cover;
    }
</style>

{% block content %}
    <div>
        {% if pages %}
        <h3>Pages Contained in this Wiki</h3>
        {% endif %}
        <h4>{{ page_title }}</h4>
    </div>
    <hr>
   <div>
    {% if page_content %}
    <p>{{ page_content|safe }}</p>
    {% endif %}
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <a href="/pages/{{ page }}">{{ page }}</a><br>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
