{% extends 'main.html' %}

{% block content %}
    <div>
        {% if pages %}
            <h1>Pages Contained in this Wiki</h1>
        {% endif %}
        {% if content %}
        {{ content|safe }}
        {% endif %}
    </div>
    <hr>
   <div>
    {% if page_content %}
    <p>{{ page_content|safe }}</p>
    {% endif %}
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <a href="/pages/{{ page }}">{{ page }}</a>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
