{% extends "main.html" %}
<style>
    body{

        background-image: url("{{games}}");
        background-size: cover;
    }
</style>

{% block page_name %}
Upload
{% endblock %}

{% block content %}
<div>
<!doctype html>
<title>Upload</title>
<h3> Upload a doc to the wiki! </h3>
</div>
<hr>
<div>
<form method=post enctype=multipart/form-data>
    <input type='text' name='filename' placeholder="wikiname" required>
    <input type='file' name='file'> 
    <button type="submit" class="btn btn-primary" onclick="showConfirmation()">Upload</button>
</form>
<p id=message>{{message}}</p>
</div>
<script>
    function showConfirmation() {
      if (confirm("Are you sure you want to save changes?")) {
        // If user confirms, submit the form
        document.querySelector('.edit-profile-form').submit();
      }
      return false;
    }
    
    function cancelChanges() {
      if (confirm("Are you sure you want to discard changes?")) {
        // If user confirms, reset the form
        document.querySelector('.edit-profile-form').reset();
      }
      return false;
    }
</script>
{% endblock %}
